{
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "trailingComma": "all",
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 120,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto"
}
